{% extends 'base.html' %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block body %}
<div class="content col-8 mx-auto">
  <!-- {% if tasks|length < 1 %}
    <h4 style="text-align: center;">There are no tasks. Create one below!</h4>
    {% else %}
    {% endif %} -->
  <form style="text-align: center;">
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="url" name="url" placeholder="YouTube URL Here..."
        aria-label="New Task" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <a href="#" id="download">
          <button role="button" class="btn btn-primary" type="button" id="downloadbutton" style="width: 200px">
            <span class="spinner-border spinner-border-sm" id="loadingspinner" role="status" aria-hidden="true"
              style="display: none;"></span>
            <span id="downloadbuttontext">
              Download
            </span>
          </button>
        </a>
      </div>
    </div>
  </form>
  <div class="alert alert-danger" id="badurl-alert" style="display: none;">
    <strong>ERROR! </strong> Bad url.
  </div>
  <div id="progressdiv" class="progress mx-auto" style="width: 100%; margin: 0px; display: none;">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="100" style="width: 0%">
      <span class="progress-bar-label">0%</span>
    </div>
  </div>
  <div id="downloadlinkdiv" style="text-align: center; display: none; margin: 50px;">
    <div>
      <a href="#" id="downloadlink">Download</a>
    </div>
  </div>


</div>



{% endblock %}


{% block js %}

<!-- <script type=text/javascript src="{{
  url_for('static', filename='js/main.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}