{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content col-8 mx-auto">
    <!-- {% if tasks|length < 1 %}
    <h4 style="text-align: center;">There are no tasks. Create one below!</h4>
    {% else %}
    {% endif %} -->
    <form action="/" method="POST" style="text-align: center;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="url" name="url" placeholder="https://www.youtube.com/watch?v=DyRqo_yan6s&list=RDAMVMDyRqo_yan6s"
                aria-label="New Task" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Download</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}